[Unit]
Description=mkosi for %I

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/mkosi --default %i --force --postinst-script %i
[Install]
WantedBy=multi-user.target
