[Unit]
Description=mkosi images builder for %I

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/nspawn-builder -n %i

[Install]
WantedBy=multi-user.target
