[Unit]
Description=mkosi for %I

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/mkosi  --sign --key 35905B6D --xz --default %i -O /usr/share/nginx/html/%i

[Install]
WantedBy=multi-user.target
