name: Build new Mkosi images for nspawn.org

# Controls when the workflow will run
on:
  # Triggers the workflow on push but only for the master branch
  push:
    branches: [master]
    paths:
      - "**.conf"
      - "**.preset"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: internal-builders

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Change ownership of files for checkout
        env:
          SERVER_WORKDIR: ${{ secrets.SERVER_WORKDIR }}
        run: sudo chown -R $USER:$USER $SERVER_WORKDIR
    
      - uses: actions/checkout@v2

      - name: Check for duplicated Output directives
        working-directory: ./hub-images
        run: |
          ./validate_directories.sh

      # Prepare our custom builder
      - name: Prepare our builder
        run: |
          sudo apt-get install --assume-yes --no-install-recommends debian-archive-keyring

      # Configure GPG
      - name: Configure the GPG Key
        env:
          GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY }}
        run: |
          echo -n "$GPG_SIGNING_KEY" | base64 --decode | sudo gpg --import
          echo -n "$GPG_SIGNING_KEY" | base64 --decode | gpg --import

      # Setup mkosi
      - name: setup-mkosi
        uses: systemd/mkosi@main

      - name: Change ownership of files for checkout
        env:
          SERVER_WORKDIR: ${{ secrets.SERVER_WORKDIR }}
        run: sudo chown -R $USER:$USER $SERVER_WORKDIR

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      #- name: Debug
      #  uses: mxschmitt/action-tmate@v3

      # Runs a set of commands using the runners shell
      - name: Rebuild images
        run: |
          REBUILD_NEED_FOR=$(git diff-tree --no-commit-id --name-only -r ${{ github.sha }} | grep -E '.conf|.preset' | awk -F'/' '{print $1 "/" $2 "/" $3}' | sort -u)

          root_dir="$(pwd)"
          for dir in ${REBUILD_NEED_FOR[@]}; do cd "$dir" && sudo mkosi; cd $root_dir; done
          cd hub-images
          sudo ./clean-artifacts.sh

      # Prepare everything for syncing
      - name: Install SSH Key
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_VM1_PRIVATE_KEY }}
        run: |
          [ -f ~/.ssh/nspawnvm1.key ] && exit 0
          mkdir -p ~/.ssh/
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/nspawnvm1.key
          chmod 400 ~/.ssh/nspawnvm1.key

      - name: Adding Known Hosts
        run: |
          touch ~/.ssh/known_hosts
          ssh-keyscan -H ${{ secrets.SSH_VM1_HOST }} >> ~/.ssh/known_hosts
          chmod 600 ~/.ssh/known_hosts

      # Finally deploy the artifacts
      - name: Deploy with rsync
        working-directory: ./hub-images
        run: rsync -e "ssh -i ~/.ssh/nspawnvm1.key" -auvzP ./output/public/storage/ ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_VM1_HOST }}:/var/www/hub-nspawn/storage/

